html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  overscroll-behavior: none;
  overflow: hidden;
  background: #151515;
  color: #a0a0a0;
  font-family: 'Inter var', sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  box-sizing: border-box;
}
